form {
    display: flex;
    gap: 1rem;
    width: fit-content;
    margin: 3rem auto;
}

.content-input {
    position: relative;
    width: 100%;
    border: 1px solid gray;
    border-radius: 1rem;    
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.searching-input {
    padding: .5rem 0;        
    width: 35rem;
    border: none;
}

.searching-history {
    position: absolute;
    display: block;    
    bottom: 0;
    left: 0;
    width: 100%;    
    background-color: white;
    transform: translateY(100%);    
    border-radius: .5rem;
    border: 1px solid gray;
    overflow: hidden;
    visibility: hidden;
}

.searching-history.active {    
    visibility: visible;
}

.searching-history li button {
    width: 100%;
    text-align: start;
    padding: .5rem .8rem;
}

.searching-history li button:hover {
    background-color: rgb(209, 209, 209);
}

.button-search {
    padding: .5rem 1rem;
    border-radius: 1.5rem;
    background-color: green;
    color: white;
}

.buttons-delete {
    display: flex;
    gap: 1.5rem;
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 4rem;
    padding: 0 2rem;
}

.buttons-delete button {
    background-color: brown;
    border-radius: 2rem;
    padding: .6rem 1rem;
    color: white;
}

.button-delete-current {
    margin: auto 0;
}

@media (max-width: 768px) {
    form {
        width: 100%;
        padding: 2rem;
    }
    .searching-input {
        width: 100%;
    }
}