* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

li {
  list-style: none;
}

a, input, textarea {
  outline: none;;
}

a {
  display: block;
  width: fit-content;
}